/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */



/*
 * ADD YOUR STYLES HERE
 */


@media (min-width: 800px){
.flex-container{
 flex-direction: column;
}


h2{
text-align: center;
font-size: 3rem;
}
img{
  width: 100%;
  height: auto;
  display: block;
 justify-content: center;
 border-radius: 60%;
}

.Tutorial-03{
width: 75%;
margin:1%;


}

.Tutorial-05{

  width: 75%;
  margin:1%;
  
}

.Tutorial-09{
 width: 75%;
  margin:1%;

  

}

.Tutorial-07{

  width: 75%;
margin:1%;

}

